/* Container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: white;
  font-family: Arial, sans-serif;
  position:sticky;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Left section */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-logo-img {
  width: 40px; /* adjust size of icon */
  height: 40px;
  object-fit: contain;
  background-color: white;
}

.navbar-logo-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

/* Middle links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
 
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #007bff;
}

/* Right buttons */
.navbar-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 4px 12px; /* smaller buttons */
  border-radius: 16px;
  border: 1px solid #007bff;
  background: transparent;
  color:#007bff;
  cursor: pointer;
  font-size: 0.85rem; /* smaller font */
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #007bff;
  color: white;
}

.btn-signup {
  background: #007bff;
  color: white;
}

.btn-signup:hover {
  background: #0056b3;
}