.profile-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 208px;
    height:210px;
    text-align: center;
  }
  .profile-link {
    background: none;       /* remove button background */
    color: #000;            /* black text */
    text-decoration: underline; /* make it look like a link */
    cursor: pointer;        /* pointer cursor on hover */
    white-space: nowrap;    /* prevent breaking into two lines */
    font-size: 16px;        /* adjust font size */
  }
  
  .profile-link:hover {
    color: #e9eef4;         /* optional: change color on hover */
  }